@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    color: #ffffff;
    background-color: #252B42;
    font-family: 'Montserrat', sans-serif;
}
.container {
    position: relative;
    background-image: url(./images/hero-cover3.png);
    background-size: cover;
    background-position: top center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#overlay{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
 }
.main {
    position: sticky;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.main .logo a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;

}
.main .nav-bar ul li {
    display: inline-block;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-transform: capitalize;
    color: #ffffff;

}
.main .nav-bar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}
.main .member .btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #22a6f0;
    width: 180px;
    padding: 20px;
    border-radius: 5px;
    right: 90px;
}
.main .member .btn a:hover {
    transform: 0.5s ease 0s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}
.container .text h1 {
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 20px;
    
}
.container .text p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
} 
.container .text {
    z-index: 10000;

}
.container .text .buttn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
.container .text .buttn .quote {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #22a6f0;
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30px;
    
}
.container .text .buttn .learn {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #22a4f000;
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid #ffffff;
    
}
.peace {
    background: #fafafa;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    
}
.peace .mind1 {
    color: rgb(48, 45, 45);
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 250px;
    border: 1px solid rgb(245, 245, 245);
    background: rgb(253, 253, 253);
    z-index: 10000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 150px;
    margin-right: 20px;

}
.peace .mind1 .img1 {
    max-height: 100px;
    width: 100px;
}
.peace .mind1 h1 {
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;

}
.peace .mind1 p {
    font-size: 12px;
    font-weight: 400;
}

/* mind2 data */
.peace .mind2 {
    color: rgb(48, 45, 45);
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 250px;
    border: 1px solid rgb(245, 245, 245);
    background: rgb(253, 253, 253);
    z-index: 10000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 150px;

}
.peace .mind2 .img1 {
    max-height: 100px;
    width: 100px;
}
.peace .mind2 h1 {
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;

}
.peace .mind2 p {
    font-size: 12px;
    font-weight: 400;
}

/* mind3 data starts here */

.peace .mind3 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 250px;
    border: 1px solid #22a6f0;
    background: #22a6f0;
    z-index: 10000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 150px;
    margin-left: 20px;

}
.peace .mind3 .img2 {
    max-height:70px;
    width: 70px;
}
.peace .mind3 h1 {
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;

}
.peace .mind3 p {
    font-size: 12px;
    font-weight: 400;
}



.bookmark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #ffffff;
    height: 40vh;
    width: 100%;
    color: rgb(36, 34, 34);
    padding: 20px;
    text-align: center;
    font-size: 12px;
}
.bookmark .img3 {
    max-height: 120px;
    width: 120px;
}
.bookmark .life1 .img3 {
    margin-left: 10px;
}

.bookmark .life1 {
    margin-right: 40px;
}

.bookmark .life3 {
    margin-left: 40px;
}
.industry {
    position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fafafa;
   color: black;
   height: 250vh;
}

.industry .ind {
    margin-top: 20;
    margin-bottom: 20px;
    text-align: center;
    padding: 30px;
    

}
.industry .ind h2 {
    font-size: 25px;
    padding: 20px;
}
.industry .ind p {
    padding: 5px;
}

.slate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
/*     border: 2px solid rgb(190, 187, 187);
 */
} 
.slate .part1 {
    height: 350px;
    width: 280px;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
    margin-right: 30px;
}
.slate .part1 .pic1 {
    height: 150px;
    width: 150px;
    padding: 20pxS;
}
.slate .part1 p {
    margin-top: 20px;
}
.slate .part1 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}


.slate .part2 {
    height: 350px;
    width: 280px;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
}
.slate .part2 .pic1 {
    height: 150px;
    width: 150px;
    padding: 20pxS;
}
.slate .part2 p {
    margin-top: 20px;
}
.slate .part2 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}


.slate .part3 {
    height: 350px;
    width: 280px;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
    margin-left: 30px;
}
.slate .part3 .pic1 {
    height: 150px;
    width: 150px;
    padding: 20pxS;
}
.slate .part3 p {
    margin-top: 20px;
}
.slate .part3 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}

/* THE VECTOR SECTION STARTS HERE */